/* fontes familia */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* variaveis CSS */


:root {
    --yellow: #FFEB00;
    --verde-claro: #6EC207;
    --verde-escuro: #117554;
    --azul: #4379F2;

}


/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

/* Fim reset css */

/* Inicio Cascata css */

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1%;
    margin-bottom: 1%;
}

.titulo__cabecalho {
    font-size: 3em;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lista__navegacao__cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    font-size: 1.5em;
    margin-top: 5%;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    list-style: none;
}

.item__lista__navegacao__cabecalho {
    color: #000;

}

.links__lista__navegacao__cabecalho {
    color: #000000;
}

.links__lista__navegacao__cabecalho:hover {
    color: var(--azul);
}


.secao__principal__main {
    background-color: var(--verde-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-top: 5em;
    padding: 2%;
    border-radius: 1em;
    margin-bottom: 1%;
    
}

.artigo__quemsomos__secao__principal__main,
.artigo__nossoslaboratorios__secao__principal__main,
.artigo__nossosfuncionarios__secao__principal__main {

    background-color: var(--verde-claro);
    align-items: center;
    border-radius: 0.4em;
    border: 0.1em solid var(--azul);
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-family: "Kanit", sans-serif;
    text-align: center;
    gap: 1em;
    padding: 1.5em;
    font-weight: 500;
    box-shadow: 0.5em 0.5em 0.5em black;
}

.destaque__texto__secao__principal__main {
    color: #ffffff;
}


.secao__secundaria__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 2%;
    margin-bottom: 8%;
}

.subtitulo__secao__secundaria__main {
    font-family: "Zilla Slab", serif;
}


.link__secao__secundaria__main {
    font-size: 1.5em;
    background-color: var(--azul);
    color: var(--yellow);
    border-radius: 1em;
    width: 30%;
    height: 2em;
    text-align: center;
    padding: 0.9%;
    font-weight: 600;
    box-shadow: 1em 1em #000000;
    font-family: "Zilla Slab", serif;

}


.rodape {
    text-align: center;
    padding: 70px;
    background-color: #021b31;
    color: #ffffff;
    border-radius: 1em;
}

/* inicio responsividade */


@media (max-width: 721px) {
    .link__secao__secundaria__main {
        font-size: 1.4em;
    }
}

@media (max-width: 673px) {
    .link__secao__secundaria__main {
        font-size: 1em;
    }
}


@media (max-width: 650px) {
    .artigo__quemsomos__secao__principal__main {
        font-size: 0.9em;
    }

    .artigo__nossoslaboratorios__secao__principal__main {
        font-size: 0.9em;
    }

    .artigo__nossosfuncionarios__secao__principal__main {
        font-size: 0.9em;
    }

    .subtitulo__secao__secundaria__main {
        font-size: 1em;
    }
}

@media (max-width: 630px) {
    .texto__artigo__quemsomos__secao__principal__main {
        font-size: 0.8em;
    }
}

@media (max-width: 570px) {
    .lista__navegacao__cabecalho {
        gap: 1em;
        font-size: 1em;
    }
}

@media (max-width: 530px) {
    .texto__artigo__quemsomos__secao__principal__main {
        font-size: 0.8em;
    }
}

@media (max-width: 510px) {
    .texto__artigo__quemsomos__secao__principal__main {
        font-size: 1em;
    }
}

@media (max-width: 481px) {
    .link__secao__secundaria__main {
        font-size: 0.9em;
    }
}

@media (max-width: 433px) {
    .link__secao__secundaria__main{
        font-size: 0.7em;
    }
}

@media (max-width: 426px) {
    .subtitulo__secao__secundaria__main {
        font-size: 0.8em;
    }
}

@media (max-width: 399px) {
    .titulo__cabecalho {
        font-size: 1em;
    }
}

@media (max-width: 370px) {
    .artigo__quemsomos__secao__principal__main {
        font-size: 0.7em;
    }
}

@media (max-width: 341px) {
    .subtitulo__secao__secundaria__main {
        font-size: 0.6em;
    }
}

@media (max-width: 336px) {
    .link__secao__secundaria__main {
        font-size: 0.5em;
    }
}

@media (max-width: 320px) {
    .titulo__cabecalho {
        font-size: 1.5em;
    }

    .lista__navegacao__cabecalho {
        gap: 1em;
        font-size: 3em;
    } 

    .links__lista__navegacao__cabecalho {
        font-size: 10em;
    }

    .secao__principal__main {
        margin-top: 2em;
        padding: 1.1em;
    }

    .texto__artigo__quemsomos__secao__principal__main
    {
        font-size: 5em;
    }

    .texto__artigo__nossoslaboratoios__secao__principal__main {
        font-size: 0.6em;
    }

    .texto__nossosfuncionarios__secao__principal__main {
        font-size: 0.6em;
    }

    .subtitulo__secao__secundaria__main {
        font-size: 0.9em;
        margin-top: 0.5em;
    }

    .link__secao__secundaria__main {
        font-size: 4px;
    }

    .paragrafo__rodape {
        font-size: 0.8em;
    }

    }


    @media (max-width: 375px) {
        .titulo__cabecalho {
            font-size: 1.5em;
        }
    
    
        .links__lista__navegacao__cabecalho {
            font-size: 0.4em;
            justify-content: space-around;
        }
    
        .secao__principal__main {
            margin-top: 2em;
            padding: 1.1em;
            
        }
    
        .texto__artigo__quemsomos__secao__principal__main
        {
            font-size: 0.4em;
            
        }
    
        .texto__artigo__nossoslaboratoios__secao__principal__main {
            font-size: 0.5em;
        }
    
        .texto__nossosfuncionarios__secao__principal__main {
            font-size: 0.4em;
            
        }
    
        .subtitulo__secao__secundaria__main {
            font-size: 0.7em;
            margin-top: 0.5em;
        }
    
        .link__secao__secundaria__main {
            font-size: 0.7em;
        }
    
        .paragrafo__rodape {
            font-size: 0.6em;
        }
    
    }


@media (max-width: 320px) {
    .titulo__cabecalho {
        font-size: 1em;
    }

    .lista__navegacao__cabecalho {
        display: flex;
        justify-content: space-evenly;
    }

    .links__lista__navegacao__cabecalho {
        font-size: 0.2em;
        justify-content: space-around;
    }

    .secao__principal__main {
        margin-top: 2em;
        padding: 1.1em;
        
    }

    .texto__artigo__quemsomos__secao__principal__main
    {
        font-size: 0.4em;
        
    }

    .texto__artigo__nossoslaboratoios__secao__principal__main {
        font-size: 0.5em;
    }

    .texto__nossosfuncionarios__secao__principal__main {
        font-size: 0.4em;
        
    }

    .subtitulo__secao__secundaria__main {
        font-size: 0.7em;
        margin-top: 0.5em;
    }

    .link__secao__secundaria__main {
        font-size: 0.5em;
    }

    .paragrafo__rodape {
        font-size: 0.6em;
    }

}

/* fim responsividade */






